<div class="toast-panel">
  <div *ngFor="let toast of activeToasts" [@nested]>
    <div class="toast-card" [ngClass]="toast.type" [@shrink]>
      <div class="close-button" (click)="close(toast)">&times;</div>
      <div class="card-body text-left">
        <div *ngIf="toast.caption" class="title">{{toast.caption}}</div>
        <div>{{toast.text}}</div>
      </div>
      <div class="lifetime-progress"
           role="progressbar"
           [@progress]="animationOptions(toast)"></div>
    </div>
  </div>
</div>
